/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
Colour Scheme: 
white: eff8e2
grey: cecfc7
lilac: ada8b6
purple: 573280
black: 23022e
*/

@font-face {
    font-family: 'Black Letters';
    src: url('fonts/BLACEB__.woff2') format('woff2');
}

@font-face {
    font-family: 'Recoleta';
    src: url('fonts/Recoleta-RegularDEMO.woff2') format('woff2');
}

body {
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 80px 80px 1fr;
    height: 100vh;
}

.side-menu {
    grid-row: 1 / 4;
    background-color: #573280;
    display: flex;
    flex-direction: column;
    gap: 60px;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}

.header {
    grid-row: 1 / 2;
    background-color: #eff8e2; 
    padding: 10px 50px 10px 50px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}

.nav {
    grid-row: 2 / 3;
    background-color: #eff8e2;
    padding: 10px 50px 10px 50px;
}

.content {
    grid-row: 3 / 4;
    background-color: #ada8b6;
    padding-bottom: 60px;
}

.side-title img[src^="svgs"] {
    width: 70px;
}

.top-menu img[src^="svgs"],
.bottom-menu img[src^="svgs"],
.header img[src^="svgs"] {
    width: 30px;
}

.side-title {
    display: grid;
    justify-content: start;
    align-items: center;
    grid-template-columns: 70px 1fr;
    gap: 10px;
}

.top-menu,
.bottom-menu {
    display: grid;
    gap: 10px;
}

.top-menu {
    grid-template-rows: repeat(6, 1fr);
}

.bottom-menu {
    grid-template-rows: repeat(3, 1fr);
}

.search {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    gap: 10px;
}

.side-header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 30px 40px 128px;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.nav {
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.left-nav {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 10px;
    align-items: center;
}


.right-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.left-content {
    display: grid;
    grid-template-rows: 60px 1fr;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, 200px);
    padding: 15px;
    gap: 15px;
}

.right-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.top-content, 
.bottom-content {
    display: grid;
    grid-template-rows: 60px 300px;
}

.card,
.info,
.friends {
    background-color: #eff8e2;
    box-shadow: 5px 5px 5px #573280;
}

h1,
h2,
h3 {
    font-family: 'Black Letters', sans-serif;
}

a, 
p {
    font-family: 'Recoleta', sans-serif;
}

h1 {
    font-size: 2em;
}

.side-title h1 {
    color: #eff8e2;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

a {
    text-decoration: none;
    color: #eff8e2;
}

.top-menu div,
.bottom-menu div {
    display: grid;
    align-items: center;
    grid-template-columns: 30px 1fr;
    gap: 10px;
}

.side-menu img {
    filter: brightness(0) saturate(100%) invert(99%) sepia(3%) saturate(1052%) hue-rotate(27deg) brightness(100%) contrast(96%);
}

.display-pic {
    width: 50px;
}

.right-nav {
    justify-content: end;
}

input[type="search"] {
    width: 100%;
    border-radius: 15px;
    border: 0px;
    height: 30px;
    padding: 10px;
    background-color: #ada8b6;
    color: #23022e;
}

.header,
.nav,
.content {
    color: #23022e;
}

.nav h1 {
    font-size: 1.5em;
}

.user-info {   
    display: grid;
    justify-content: center;
    grid-template-rows: 12px 24px;
    gap: 5px;
    justify-content: start;
    align-items: center;
}

button {
    border: 0px;
    border-radius: 13px;
    height: 30px;
    background-color: #573280;
    color: #eff8e2;
}

.content h2 {
    padding-left: 15px;
}

.label {
    display: grid;
    align-items: end;
}

.info,
.friends {
    margin: 15px 30px 0px 15px;
    display: grid;
    gap: 10px;
    border-radius: 8px;
}

.info {
    padding: 25px;
    grid-template-rows: repeat(3, 75px);
}

.maintenance,
.community {
    border-bottom: 1px solid #ada8b6;
    display: grid;
    grid-template-rows: 14px 50px;
    gap: 5px;
    padding-bottom: 10px;
}

.updates {
    display: grid;
    grid-template-rows: 14px 50px;
    gap: 5px;
    padding-bottom: 10px;
}

.info p {
    font-size: 12px;
}

.info h4 {
    font-size: 14px;
    font-weight: bold;
}

.user {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 5px;
    align-items: center;
}

.friends {
    padding: 20px;
}

.actions img {
    width: 30px;
}

.side-header .display-pic,
.user .display-pic {
    width: 40px;
}

.card {
    padding: 15px;
    border-radius: 8px;
    border-left: 8px solid #573280;
    display: grid;
    grid-template-rows: 20px 1fr 30px;
    gap: 10px;
}

.actions {
    display: grid;
    grid-template-columns: repeat(3, 30px);
    gap: 10px;
    justify-content: end;
}

.header img,
.nav img,
.content img {
    filter: brightness(0) saturate(100%) invert(5%) sepia(32%) saturate(6617%) hue-rotate(274deg) brightness(94%) contrast(103%);
}

h1,
h2,
h3,
h4  {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text {
    overflow: scroll;
    font-size: 14px;
}

.message {
    overflow: scroll;
}

.data {
    font-size: 12px;
}


